.container_emprego{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 112px;
}

.container_emprego_divisao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    padding: 0 32px;
}

.container_emprego_titulo{
    color: var(--vermelho-escuro);
    background: var(--rosa-claro);
    font-size: 14px;
    font-weight: 500;
    border-radius: 16px;
    padding: 4px 12px;
    margin-bottom: auto;
}


.container_emprego_segundo_titulo{
    color: var(--cinza-escuro);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: auto;
}

.container_emprego_texto{
    color: var(--cor-cabecalho);
    font-size: 20px;
    font-weight: 400;
}

.container_emprego_imagem{
    width: 1216px;
    height: 400px;
    
}